
<% if (alerts.error) { %>
  <% alerts.error.forEach(function(msg) { %>
    <div id='alert' class="alert alert-danger" style='text-align:center;'><%= msg %></div>
  <% }); %>
<% } %>
<% if (alerts.success) { %>
  <% alerts.success.forEach(function(msg) { %>
    <div id='alert' class="alert alert-success" style='text-align:center;'><%= msg %></div>
  <% }); %>
<% } %>
