<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SMALL - THE NEW MEDIUM</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Font Awesome JS -->
    <script src="https://use.fontawesome.com/03962385c2.js"></script>
    <!-- React -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0-alpha1/JSXTransformer.js"></script>
    <!-- Custom JS -->
    <script src="./js/main.js"></script>

  </head>
  <body>

    <script src="/js/components/IndexPage.jsx" type="text/jsx"></script>
    <script src="/js/components/Article.jsx" type="text/jsx"></script>
    <!-- <script src="/js/components/ArticlesContainer.jsx" type="text/jsx"></script>
    <script src="/js/components/ArticleHeader.jsx" type="text/jsx"></script>
    <script src="/js/components/ArticleTitle.jsx" type="text/jsx"></script>
    <script src="/js/components/ArticleContent.jsx" type="text/jsx"></script>
    <script src="/js/components/ArticleFooter.jsx" type="text/jsx"></script>
    <script src="/js/components/ArticleLikes.jsx" type="text/jsx"></script>
    <script src="/js/components/ArticleComments.jsx" type="text/jsx"></script> -->



    <div id="root"></div>

    <!-- REACT JS -->

    <script type="text/jsx">
      ReactDOM.render(<IndexPage />, document.getElementById('root'));
    </script>

  </body>
</html>
