.green {
  color: #00ab6b;
}

.grey {
  color: #7f7f7f;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.remove-glow:focus,
.remove-glow:active,
.remove-glow.active,
.remove-glow:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*.articleBox {
  border: 1px solid black;
  margin-top: 25px;
  margin-bottom: 25px;
}*/

.navbar {
  line-height: 112.344px;
  background-color: transparent;
}

.button {
  text-align: center;

}

.button-create-article {
  background-color: #00ab6b;
  padding: 15px;
  color: white;
  letter-spacing: 7px;
  font-size: 16px;
  font-weight: bolder;
  margin-top: 10px;
}

.button:hover {
  cursor: pointer;
}

.center {
  /*background-color: #00ab6b;*/
  text-align: center;
  /*transition: all .5s ease-in-out;*/
}

.icon {
  color: #00ab6b;
  font-size: 50px;
}

.icon:hover {
  cursor: pointer;
}

.icon-footer {
  color: #00ab6b;
  font-size: 15px;
  margin-right: 3px;
}

.icon-footer:hover {
  cursor: pointer;
}

.navbar-back {
  display: inline-block;
}

.form-input {
  line-height: 30px !important;
  padding: 7px;
}

.inline-block {
  display: inline-block;
}

.align-right {
  text-align: right;
}

#logo {
  width: 150px;
  margin-left: -50px;
}

.logo-title {
  font-size: 18px;
  margin-left: -25px;
}

.login {
  font-size: 15px;
}

.margin-right-10 {
  margin-right: 10px;
}

.article-form-label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
}

.article-form-input {
  width: 100%;
}

.header-div {
  margin-top: 10px;
}

.header-icon {
  width: 50px;
  margin-left: -20px;
}

.header-user {
  margin-left: -20px;
}

.article-box {
  border: 1px solid #e5e5e5;
  padding: 10px;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.article-title {
  font-size: 34px;
}

.content-shortener-link:hover {
  cursor: pointer;
}

.icon-heart-div {
  padding: 0;
  font-size: 15px;
}

.response-icon-div {
  text-align: right;
  font-size: 15px;
}

.content-shortener-para {
  margin-bottom: 10px;
}

.comments-main-box {
  padding: 0;
  margin-top: 20px;
}

.comment-box-odd {
  /*padding: 0;*/
  padding: 15px 25px;
  background-color: #bfd8d2;
}

.comment-box-even {
  padding: 15px 25px;
  background-color: #fedcd2;
}

.comment-form-input {
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 15px 25px;
}

.new-comment-div {
  margin: 20px 0;
}

.username-div {
  padding: 0;
}
